<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Simple Text 1.0</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
</head>

<body style="background-color: rgb(243, 239, 247);">
  <div class="navbar-fixed">
    <nav class="grey darken-4" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Simple Text 1.0</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{{url_for('index')}}">Home</a></li>
          <li><a href="{{url_for('compare_summary')}}">What's Next</a></li>
          <li><a href="#tutorials">Tutorials</a></li>
          <li><a href="#aboutapp">About</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
  <ul id="nav-mobile" class="sidenav">
    <li><a href="{{url_for('index')}}">Home</a></li>
    <li><a href="{{url_for('compare_summary')}}">Compare</a></li>
    <li><a href="#contactme">About</a></li>
  </ul>
  <!--Slider -->
  <section class="slider">
    <div id="index-banner" class="parallax-container">
      <ul class="slides">
        <li>
          <img src="../static/images/background1.jpg" alt="Unsplashed background img 1" alt="">
          <div class="caption center-align">
            <h2>Easy, Accurate and Formal Summarization</h2>
            <br><br>
            <h5 class="light grey-text text-lighten-3 hide-on-small-only">
              We Make Your Life Easier <br>Offering Enhanced Tool to Summarize Your Text Documents
            </h5>
            <div class="row center">
              <a href="{{url_for('index')}}" id="download-button"
                class="btn-large waves-effect waves-light light-blue lighten-1"
                style="border-radius: 15px; border-width: 10px;">Clear Page</a>
              <a href="#aboutapp" class="btn btn-large waves-effect waves-light light-blue lighten-1"
                style="border-radius: 15px;">Learn More</a>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </section>

  <!-- Start of Main Section -->
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="input-field col s12 m10">
          <div class="icon-block">
            <h1 class="center brown-text"><i class="material-icons" style="font-size:100px;">move_to_inbox</i></h1>
            <h3 class="center brown-text">Drop Your Text Here</h3>
            <form method="POST" action="/summarize">
              <textarea name="rawtext" cols="3" rows="5" class="form-control" required="true"
                placeholder="Enter Text Here" style="height:300px; border-radius: 20px; border-width: 5px; 
         border-color: aqua; background-color: rgb(243, 243, 231);"></textarea>
              <br />
              <button class="btn btn-small waves-effect waves-light light-blue lighten-1" type="reset"
                style="border-radius: 15px;">Clear Text</button>
              <button class="btn btn-small waves-effect waves-light purple lighten-1" type="submit"
                style="border-radius: 15px;">Summarize</button>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m10">
          <div class="icon-block">
            <h1 class="center brown-text"><i class="material-icons" style="font-size:100px;">attachment</i></h1>
            <h3 class="center brown-text">Enter Your Text URL</h3>
            <form method="POST" action="/analyze_url">
              <input type="text" name="raw_url" placeholder="Enter URL Here" required="true">
              <button class="btn btn-small waves-effect waves-light light-blue lighten-1" type="reset"
                style="border-radius: 15px;">Clear</button>
              <button class="btn btn-small waves-effect waves-light purple lighten-1" type="submit"
                style="border-radius: 15px;">Summarize</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End -->

  <!-- Result Display-->
  <section class="section section-solutions-about grey darken-2">
    <div class="container white-text">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m6 grey darken-3">
          <div class="icon-block">
            <h2 class="center white-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Original Text Document</h5>
            <p>Word Count: <span style="color:#0091EA;">{{ final_word_count }} </span></p>
            <p>Reading Time: <span style="color:#0091EA;">{{ final_reading_time }} min </span></p>
            <p class="light">{{ctext}}</p>
            <div class="alert alert-info" role="alert">
              <p>Time Elapsed: <span style="color:#0091EA;">{{ final_time }} mins </span></p><br />

            </div>
          </div>
        </div>

        <div style="width: 20px; background-color: antiquewhite;"></div>
        <span style="width: 20px; background-color: aliceblue;"></span>

        <div class="col s12 m6 grey darken-3">
          <div class="icon-block">
            <h2 class="center white-text"><i class="material-icons">chrome_reader_mode</i></h2>
            <h5 class="center">Summarized Text Document</h5>
            <div class="" role="alert">
              <p>Word Count: <span style="color:#0091EA;">{{ summary_word_count }} </span></p>
              <p>Reading Time: <span style="color:#0091EA;">{{ summary_reading_time }} min </span></p>
            </div>
            <p class="light">{{ final_summary }}</p>

          </div>
          <div style="height: 59px;"></div>
        </div>

      </div>
    </div>
  </section>

  <section>

  </section>
  <div class="row" style="position: center; padding-left: 50px;padding-right:50px ; padding-top: 25px;">
    <div class="card" style="padding:25px 75px 25px 75px ;">
      <h5 class="card-header">Share Your Experience</h5>
      <div class="card-body" style="padding:15px 75px 25px 75px  ;">
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Enter email">
            <p id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</p>
          </div>
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
              placeholder="Share your experience with us" style="border-radius: 10px; border-width: 2px;"></textarea>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Share my Suggestion</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <h5 class="card-title">Suggestions for Better Service</h5>
        <p class="card-text">With supporting us sharing your experience we can offer you better features next time.</p>
      </div>
    </div>
  </div>

  <footer class="page-footer grey darken-2">
    <div class="container" id="aboutapp">
      <div class="row">
        <div class="col l6 s12"><br><br>
          <h5 class="white-text">About Simple Text 1.0</h5>
          <p class="grey-text text-lighten-4"> Simple Text 1.0 is a NLP text summarization tools using Spacy,NLTk and
            Gensim.
            .</p>
        </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>
  <!-- Jesse JCharis -->
</body>

</html>